@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --body-bg-color: #333;
    --primary-color: #8C3FF0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--body-bg-color);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}

.container {
    background-color: rgba(0,0,0,0.6);
    padding: 20px 40px;
    border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: var(--primary-color);
}

.form-input {
    position: relative;
    margin:20px 0 40px;
    width: 300px
}

.form-input input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-input input:focus, .form-input input:valid {
    outline: transparent;
    border-bottom-color: var(--primary-color) ;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color:var(--primary-color);
    padding: 15px;
    font-size: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    color: #fff;
}

.btn:focus {
    outline: transparent;
}

.btn:active{
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-input label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-input label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-input input:focus + label span, .form-input input:valid + label span {
    color:  var(--primary-color) ;
    transform: translateY(-30px);
}

@media screen and (max-width: 420px) {
    .container{
        width: 80%;
    }

    .form-input {
        width: 100%;
    }
}

